#Clock
Net "clk" LOC="B8";

# Red (GPIO24)
Net "rgb[2]" LOC="L5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

# Green (GPIO25)
Net "rgb[1]" LOC="P1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

# Blue (GPIO26)
Net "rgb[0]" LOC="P2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

# hsync (GPIO27)
Net "hsync" LOC="M1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

# vsync (GPIO28)
Net "vsync" LOC="R1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;